In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [13]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
t = titles
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [39]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None, encoding='utf-8')
c = cast
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [9]:
len(titles)
titles.columns

Index([u'title', u'year'], dtype='object')

### How many movies are listed in the titles dataframe?

In [10]:
len(titles)

231987

### What are the earliest two films listed in the titles dataframe?

In [12]:
titles.sort_values('year').head(2)

                     title  year
177487          Miss Jerry  1894
214959  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [18]:
len(t[t.title == 'Hamlet'])

18

### How many movies are titled "North by Northwest"?

In [19]:
len(t[t.title == 'North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [24]:
t[t.title == 'Hamlet'].sort_values('year').head(1).year

46635    1910
Name: year, dtype: int64

### List all of the "Treasure Island" movies from earliest to most recent.

In [25]:
t[t.title == 'Treasure Island'].sort_values('year')

                  title  year
205719  Treasure Island  1918
51196   Treasure Island  1920
190770  Treasure Island  1934
96783   Treasure Island  1950
89391   Treasure Island  1972
111179  Treasure Island  1973
205092  Treasure Island  1985
179086  Treasure Island  1999

### How many movies were made in the year 1950?

In [27]:
len(t[t.year == 1950])

1099

### How many movies were made in the year 1960?

In [28]:
len(t[t.year == 1960])

1500

### How many movies were made from 1950 through 1959?

In [29]:
len(t[t.year // 10 * 10 == 1950])

12705

### In what years has a movie titled "Batman" been released?

In [38]:
t[t.title == 'Batman']

        title  year
55901  Batman  1989
74485  Batman  1943

### How many roles were there in the movie "Inception"?

In [43]:
len(c[c.title == 'Inception'])

77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [44]:
len(c[(c.title == 'Inception') & c.n.isnull()])

26

### But how many roles in the movie "Inception" did receive an "n" value?

In [45]:
len(c[(c.title == 'Inception') & c.n.notnull()])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [50]:
c[(c.title == 'North by Northwest') & c.n.notnull()].sort_values('n', ascending = 0)

,title,year,name,type,character,n
1341616,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0
199577,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1461801,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
450225,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
2223542,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
645387,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
1755320,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
2370121,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1235495,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
1642833,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
2938265,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
345475,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3039937,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
1411939,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3379135,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
844683,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [53]:
c[(c.title == 'Sleuth') & (c.year == 1972)].sort_values('n', ascending = 0)

,title,year,name,type,character,n
1403762,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0
2632907,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1419954,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
362225,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
316328,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
1652679,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [54]:
c[(c.title == 'Sleuth') & (c.year == 2007)].sort_values('n', ascending = 0)

          title  year                 name     type          character    n
1750044  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
1253337  Sleuth  2007             Jude Law    actor               Milo  2.0
316329   Sleuth  2007        Michael Caine    actor             Andrew  1.0
251638   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
362226   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2632906  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3240476  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [56]:
len(c[(c.title == 'Hamlet') & (c.year == 1921)])

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [59]:
len(c[(c.title == 'Hamlet') & (c.year == 1996)])

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [60]:
len(c[(c.title == 'Hamlet')])

313

### How many people have played an "Ophelia"?

In [61]:
len(c[(c.character == 'Ophelia')])

111

### How many people have played a role called "The Dude"?

In [64]:
len(c[(c.character == 'The Dude')])

18

### How many people have played a role called "The Stranger"?

In [65]:
len(c[(c.character == 'The Stranger')])

212

### How many roles has Sidney Poitier played throughout his career?

In [66]:
len(c[(c.name == 'Sidney Poitier')])

43

### How many roles has Judi Dench played?

In [67]:
len(c[(c.name == 'Judi Dench')])

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [70]:
c[(c.year // 10 * 10 == 1940) & (c.name == 'Cary Grant') & (c.n == 2)].sort_values('year')

                   title  year        name   type    character    n
844680  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
844690    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [71]:
c[(c.year // 10 * 10 == 1940) & (c.name == 'Cary Grant') & (c.n == 1)].sort_values('year')

,title,year,name,type,character,n
844706,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
844662,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
844708,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
844695,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
844710,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
844686,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
844653,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
844678,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
844679,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
844687,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
844645,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
844682,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
844681,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
844684,Notorious,1946,Cary Grant,actor,Devlin,1.0
844702,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
844703,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
844677,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
844657,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
844666,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [72]:
len(c[(c.year // 10 * 10 == 1950) & (c.type == 'actor')])

155005

### How many roles were avilable for actresses in the 1950s?

In [73]:
len(c[(c.year // 10 * 10 == 1950) & (c.type == 'actress')])

56383

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [74]:
len(c[(c.year <= 1980) & (c.n == 1)])

64064

### How many non-leading roles were available through from the beginning of film history through 1980?

In [75]:
len(c[(c.year <= 1980) & (c.n > 1)])

657967

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [76]:
len(c[(c.year <= 1980) & (c.n.isnull())])

438988